@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4 fira-sans-regular">
            @Body
        </article>

        <div class="main-footer fira-sans-bold">
            <p>Made with ❤ by Task System.</p>
        </div>
    </main>
</div>
