@using NewTsWw.Models.Werewolf
@using WerewolfAchievementViewer.Werewolf

<div>
    @if (Info is not null)
    {
        <h4>@Info.Name</h4>
        <small>@Info.Description</small>
    }
    else
    {
        <h4>Not found!</h4>
        <small>The requested achievement is not found.</small>
    }
</div>

@code {
    [Parameter]
    public AchievementId AchievementId { get; set; }

    [Parameter]
    public AchievementInfo? AchievementInfo { get; set; }

    AchievementInfo? Info;

    protected override void OnParametersSet()
    {
        Info = this.AchievementInfo?? NewTsWw.Models.Werewolf.Achievements.All
            .FirstOrDefault(x => x.AchievementId == this.AchievementId);
    }
}
