@using NewTsWw.Models.Werewolf
@using WerewolfAchievementViewer.Werewolf

<div class="achs-items">
    @if (AchievementInfos is not null)
    {
        @foreach (var achievementInfo in AchievementInfos)
        {
            <div class="achs-item">
                <div>
                    <Achievement AchievementInfo="@achievementInfo" />
                </div>
                @OnAchievementId?.Invoke(achievementInfo.AchievementId)
            </div>
        }
    }
    else if (AchievementIds is not null)
    {
        @foreach (var achievementId in AchievementIds)
        {
            <div class="achs-item">
                <div>
                    <Achievement AchievementId="@achievementId" />
                </div>
                @OnAchievementId?.Invoke(achievementId)
            </div>
        }
    }
    else
    {
        <h3>Nothing found.</h3>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<AchievementId>? AchievementIds { get; set; } = null;

    [Parameter]
    public IEnumerable<AchievementInfo>? AchievementInfos { get; set; } = null;

    [Parameter]
    public Func<AchievementId, RenderFragment?>? OnAchievementId { get; set; }
}
