@using WerewolfAchievementViewer.Werewolf

<div>
    <h4>@name</h4>
    <small>@description</small>
</div>

@code {
    [Parameter, EditorRequired]
    public AchievementId AchievementId { get; set; }

    string name => AchievementId.GetName();
    string description => AchievementId.GetDescription();
}
