.achs-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.achs-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--bs-tertiary-bg);
    border-radius: 5px;
}

    .achs-item > div {
        flex-grow: 1;
    }
