@using WerewolfAchievementViewer.Werewolf

<div>
    <h3>@name</h3>
    <p>@description</p>
</div>

@code {
    [Parameter, EditorRequired]
    public AchievementId AchievementId { get; set; }

    string name => AchievementId.GetName();
    string description => AchievementId.GetDescription();
}
