@page "/"
@using WerewolfAchievementViewer.Components

<PageTitle>All Achievements</PageTitle>

<div class="test-container">
    <div class="test-header-container">
        <h1>Achievements</h1>
        <p>View all available achievements.</p>
    </div>

    <div class="test-achs-container">
        <div class="test-achived-container achs-container">
            <Achievements AchievementIds="Werewolf.Achievements.All" />
        </div>
    </div>
</div>