@page "/"

@using Microsoft.AspNetCore.Components.Sections
@using WerewolfAchievementViewer.Components

<PageTitle>All Achievements</PageTitle>

<SectionContent SectionId="MainLayout.HeaderMainText">
    All achievements
</SectionContent>

<SectionContent SectionId="MainLayout.HeaderDescriptionText">
    View all available achievements.
</SectionContent>

<div class="test-achs-container">
    <div class="test-achived-container achs-container">
        <Achievements AchievementInfos="NewTsWw.Models.Werewolf.Achievements.All" />
    </div>
</div>