@page "/achs/{code?}"

@using System.Buffers.Binary
@using System.Collections
@using System.Text
@using System.Text.Json
@using WerewolfAchievementViewer.Components
@using WerewolfAchievementViewer.Werewolf

<PageTitle>Player Achievements</PageTitle>

<h1>Found achievements:</h1>

<br />

@foreach (var achievementId in actualBytes.GetUniqueFlags())
{
    <Achievement AchievementId="@achievementId" />
}

@code {
    [Parameter]
    public string? Code { get; set; } = default;

    BitArray actualBytes => Code is not null?
        new BitArray(ToBytes(Code)):
        new BitArray(200);

    byte[] ToBytes(string str)
    {
        var result = JsonSerializer.Deserialize<byte[]>(str);
        return result ?? [];
    }
}
